<body>
  <div class="container">
    <div class="row">
      <div class="col s-12">
        <h1>Lasest In Movies Home Page</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s4 offset-s4">
        <a href="/articles"class="waves-effect waves-light btn-large"><i class="material-icons left">airplay</i>Articles</a>
        <a href="/trailers"class="waves-effect waves-light btn-large"><i class="material-icons right">local_movies</i>Trailers</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <ul class="collection">
            {{#each articles}}
                {{> list-items/post}}  
            {{/each}}
            {{#each trailers}}
                {{> list-items/post}}  
            {{/each}}
        </ul>
      </div>
    </div>  
   </div>    
  </div>
</body>