<body>
  <div class="container">
    <div class="row">
      <div class="col s-12">
        <h1>Lasest In Movies Home Page</h1>
      </div>
    </div>
 
      <div class="col s12">
        <a href="/articles"class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Articles</a>
        <a href="trailers"class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Trailers</a>
  
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collection">
            {{#each articles}}
                {{> list-items/articles}}  
            {{/each}}
            {{#each trailers}}
                {{> list-items/trailers}}  
            {{/each}}
          <li class="collection-item"> 
        
          </li>
        </ul>
      </div>
    </div>
    
  </div>



  

  
</body>