<li>

  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">{{headline}}</span>
      <p>{{summary}}</p>
    </div>
    <div class="card-action">
      <a href="https://www.cinemablend.com/{{url}}">Link to Trailer</a>
      <a href="#">Comments</a> 
    </div>
  </div>
  
</li>